/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 12px;
}

.heading {
  color: #0f172a;
  font-size: 40px;
  font-family: 'Roboto';
}

.para {
  color: #334155;
  font-size: 20px;
  font-family: 'Roboto';
}

.btn {
  color: #1e293b;
  font-size: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
}

.para2 {
  color: #334155;
  font-family: 'Roboto';
  font-size: 10px;
}
